.a1 {
    position: absolute;
}
.a2 {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background: url("./../image/bg.png") repeat;
}
a {
    display: block;
}
h1 {
    color: #fff;
    font-weight: normal;
}
.aArea01 {
    position: relative;
    width: 1186px;
    margin: 0 auto;
    height: 651px;
    overflow: hidden;
    .box01 {
        left: 0;
        /*top: 390px;*/
        img {
            width: 589px;
            height: 390px;
        }
        .a2 {
            width: 589px;
            height: 390px;
            h1 {
                font-size: 25px;
                margin-top: 145px;
            }
            a {
                margin-top: 30px;
                img {
                    width: 91px!important;
                    height: 34px!important;
                }
            }
        }
    }
    .box02 {
        left: 590px;
        /*top: 390px;*/
        img {
            width: 265px;
            height: 195px;
        }
        .a2 {
            width: 265px;
            height: 195px;
            h1 {
                font-size: 20px;
                margin-top: 80px;
            }
            a {
                margin-top: 10px;
                img {
                    width: 91px!important;
                    height: 34px!important;
                }
            }
        }
    }
    .box03 {
        right: 0;
        /*top: 390px;*/
        img {
            width: 330px;
            height: 390px;
        }
        .a2 {
            width: 330px;
            height: 390px;
            h1 {
                font-size: 20px;
                margin-top: 160px;
            }
            a {
                margin-top: 10px;
                img {
                    width: 91px!important;
                    height: 34px!important;
                }
            }
        }
    }
    .box04 {
        left: 0;
        /*left: 294px;*/
        bottom: 0;
        img {
            width: 294px;
            height: 260px;
        }
        .a2 {
            width: 294px;
            height: 260px;
            h1 {
                font-size: 20px;
                margin-top: 90px;
            }
            a {
                margin-top: 10px;
                img {
                    width: 91px!important;
                    height: 34px!important;
                }
            }
        }
    }
    .box05 {
        left: 295px;
        /*bottom: 260px;*/
        bottom: 0;
        img {
            width: 294px;
            height: 260px;
        }
        .a2 {
            width: 294px;
            height: 260px;
            h1 {
                font-size: 20px;
                margin-top: 90px;
            }
            a {
                margin-top: 10px;
                img {
                    width: 91px!important;
                    height: 34px!important;
                }
            }
        }
    }
    .box06 {
        left: 590px;
        bottom: 0;
        /*bottom: 455px;*/
        img {
            width: 265px;
            height: 455px;
        }
        .a2 {
            width: 265px;
            height: 455px;
            h1 {
                font-size: 20px;
                margin-top: 190px;
            }
            a {
                margin-top: 10px;
                img {
                    width: 91px!important;
                    height: 34px!important;
                }
            }
        }
    }
    .box07 {
        right: 0;
        /*right: 330px;*/
        bottom: 0;
        img {
            width: 330px;
            height: 260px;
        }
        .a2 {
            width: 330px;
            height: 260px;
            h1 {
                font-size: 20px;
                margin-top: 100px;
            }
            a {
                margin-top: 10px;
                img {
                    width: 91px!important;
                    height: 34px!important;
                }
            }
        }
    }
}
.cArea-hd {
    text-align: center;
    p {
        font-size: 20px;
        color: #4a4a4a;
        text-align: center;
        margin: 5px 0 10px;
    }
    span {
        display: block;
        font-size: 14px;
        color: #c5c5c5;
        margin-bottom: 20px;
    }
}
